<div>
  <h2> {{ 'HOME.TITLE' | translate }}</h2>
  <p>
    {{ 'HOME.TEXT' | translate}}
  </p>
  <label for="">
    {{ 'HOME.TEXT' | translate}}
    <select #languageSelect (change)="translate.use(languageSelect.value)">
       <option *ngFor="let lang of translate.getLangs()" [value]="lang"> {{lang}}</option>
    </select>
  </label>
</div>
